In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

#Read files:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
train['source']='train'
test['source']='test'
data = pd.concat([train, test],sort=False,ignore_index=True)

data.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,source
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,train
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,train
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,train
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800,train
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,train
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088,train
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528,train
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636,train
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986,train
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350,train

In [2]:
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14204 entries, 0 to 14203
Data columns (total 13 columns):
Item_Identifier              14204 non-null object
Item_Weight                  11765 non-null float64
Item_Fat_Content             14204 non-null object
Item_Visibility              14204 non-null float64
Item_Type                    14204 non-null object
Item_MRP                     14204 non-null float64
Outlet_Identifier            14204 non-null object
Outlet_Establishment_Year    14204 non-null int64
Outlet_Size                  10188 non-null object
Outlet_Location_Type         14204 non-null object
Outlet_Type                  14204 non-null object
Item_Outlet_Sales            8523 non-null float64
source                       14204 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 1.4+ MB

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,11765.000000,14204.000000,14204.000000,14204.000000,8523.000000
mean,12.792854,0.065953,141.004977,1997.830681,2181.288914
std,4.652502,0.051459,62.086938,8.371664,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.710000,0.027036,94.012000,1987.000000,834.247400
50%,12.600000,0.054021,142.247000,1999.000000,1794.331000
75%,16.750000,0.094037,185.855600,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [3]:
data.apply(lambda x: len(x.unique()))

Item_Identifier               1559
Item_Weight                    416
Item_Fat_Content                 5
Item_Visibility              13006
Item_Type                       16
Item_MRP                      8052
Outlet_Identifier               10
Outlet_Establishment_Year        9
Outlet_Size                      4
Outlet_Location_Type             3
Outlet_Type                      4
Item_Outlet_Sales             3494
source                           2
dtype: int64

In [4]:
#Filter categorical variables
categorical_columns = [x for x in data.dtypes.index if data.dtypes[x]=='object']
#Exclude ID cols and source:
categorical_columns = [x for x in categorical_columns if x not in ['Item_Identifier','Outlet_Identifier','source']]
#Print frequency of categories
for col in categorical_columns:
    print('\nFrequency of Categories for varible %s'%col)
    print(data[col].value_counts())

Frequency of Categories for varible Item_Fat_Content
Low Fat    8485
Regular    4824
LF          522
reg         195
low fat     178
Name: Item_Fat_Content, dtype: int64

Frequency of Categories for varible Item_Type
Fruits and Vegetables    2013
Snack Foods              1989
Household                1548
Frozen Foods             1426
Dairy                    1136
Baking Goods             1086
Canned                   1084
Health and Hygiene        858
Meat                      736
Soft Drinks               726
Breads                    416
Hard Drinks               362
Others                    280
Starchy Foods             269
Breakfast                 186
Seafood                    89
Name: Item_Type, dtype: int64

Frequency of Categories for varible Outlet_Size
Medium    4655
Small     3980
High      1553
Name: Outlet_Size, dtype: int64

Frequency of Categories for varible Outlet_Location_Type
Tier 3    5583
Tier 2    4641
Tier 1    3980
Name: Outlet_Location_Type, dtype: int64

Frequency of Categories for varible Outlet_Type
Supermarket Type1    9294
Grocery Store        1805
Supermarket Type3    1559
Supermarket Type2    1546
Name: Outlet_Type, dtype: int64

In [5]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                  2439
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  4016
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales            5681
source                          0
dtype: int64

In [6]:
# Imputing missing values
data1 = pd.concat([train, test],sort=False,ignore_index=True)

#Impute data for Item_Weight based on mean weight of Item_Identifier
print('Original #missing: %d'% sum(data1['Item_Weight'].isnull()))
data1['Item_Weight'] = data1.groupby('Item_Identifier').transform(lambda x: x.fillna(x.mean()))
print('Final #missing: %d'% sum(data1['Item_Weight'].isnull()))

Original #missing: 2439
Final #missing: 0

In [7]:
#Analysing known Outlet_Size for outlets -> Cannot predict size for outlets with unknown Outlet_Size 
#Create column denoting whether Outlet_Size is known
data.groupby(['Outlet_Identifier','Outlet_Size','Outlet_Type']).size().reset_index().rename(columns={0:'count'})

  Outlet_Identifier Outlet_Size        Outlet_Type  count
0            OUT013        High  Supermarket Type1   1553
1            OUT018      Medium  Supermarket Type2   1546
2            OUT019       Small      Grocery Store    880
3            OUT027      Medium  Supermarket Type3   1559
4            OUT035       Small  Supermarket Type1   1550
5            OUT046       Small  Supermarket Type1   1550
6            OUT049      Medium  Supermarket Type1   1550

In [8]:
data.groupby(['Outlet_Identifier','Outlet_Type']).size().reset_index().rename(columns={0:'count'})

  Outlet_Identifier        Outlet_Type  count
0            OUT010      Grocery Store    925
1            OUT013  Supermarket Type1   1553
2            OUT017  Supermarket Type1   1543
3            OUT018  Supermarket Type2   1546
4            OUT019      Grocery Store    880
5            OUT027  Supermarket Type3   1559
6            OUT035  Supermarket Type1   1550
7            OUT045  Supermarket Type1   1548
8            OUT046  Supermarket Type1   1550
9            OUT049  Supermarket Type1   1550

In [9]:
data1['Outlet_Size'].fillna('NA', inplace=True)
data1['Known_Size'] = data1['Outlet_Size']!='NA'
data1.groupby(['Outlet_Identifier','Outlet_Type','Outlet_Size','Known_Size']).size().reset_index().rename(columns={0:'count'})

  Outlet_Identifier        Outlet_Type Outlet_Size  Known_Size  count
0            OUT010      Grocery Store          NA       False    925
1            OUT013  Supermarket Type1        High        True   1553
2            OUT017  Supermarket Type1          NA       False   1543
3            OUT018  Supermarket Type2      Medium        True   1546
4            OUT019      Grocery Store       Small        True    880
5            OUT027  Supermarket Type3      Medium        True   1559
6            OUT035  Supermarket Type1       Small        True   1550
7            OUT045  Supermarket Type1          NA       False   1548
8            OUT046  Supermarket Type1       Small        True   1550
9            OUT049  Supermarket Type1      Medium        True   1550

In [10]:
data1.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                     0
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales            5681
source                          0
Known_Size                      0
dtype: int64

In [11]:
#Dealing with Item_Visibility = 0
data1_with_visibility = data1.loc[data1['Item_Visibility']!=0,['Item_Identifier','Item_Visibility']]
data1_mean_visibility = data1_with_visibility.groupby('Item_Identifier').mean()

miss_bool = (data1['Item_Visibility'] == 0)
data1.loc[miss_bool,'Item_Visibility'] = data1.loc[miss_bool,'Item_Identifier'].apply(lambda x: (data1_mean_visibility.loc[x]))
print(data1['Item_Visibility'].value_counts())

0.121880    6
0.029515    4
0.014183    4
0.088755    3
0.152197    3
0.020416    3
0.048545    3
0.076975    3
0.138096    3
0.014670    3
0.048764    3
0.142453    3
0.077169    3
0.072930    3
0.098506    3
0.076483    3
0.013500    3
0.015007    3
0.081487    3
0.028135    3
0.077290    3
0.060545    3
0.077011    3
0.076856    3
0.076792    3
0.026026    3
0.076841    3
0.072812    3
0.040868    3
0.091294    3
           ..
0.038192    1
0.136811    1
0.059055    1
0.043202    1
0.044149    1
0.017937    1
0.017153    1
0.038405    1
0.093686    1
0.148682    1
0.047743    1
0.021021    1
0.016824    1
0.020551    1
0.018411    1
0.022976    1
0.122305    1
0.093813    1
0.137756    1
0.116366    1
0.065618    1
0.038271    1
0.085120    1
0.034542    1
0.013608    1
0.013147    1
0.098790    1
0.073397    1
0.015452    1
0.115072    1
Name: Item_Visibility, Length: 13688, dtype: int64

In [12]:
data1['Item_Visibility_MeanRatio'] = data1.apply(lambda x: x['Item_Visibility']/data1_mean_visibility.loc[x['Item_Identifier']], axis=1)
data1['Item_Visibility_MeanRatio'].describe()

count    14204.000000
mean         1.000000
std          0.200592
min          0.803455
25%          0.901974
50%          0.925261
75%          1.000000
max          1.614811
Name: Item_Visibility_MeanRatio, dtype: float64

In [13]:
#Years:
data1['Outlet_Years'] = 2013 - data1['Outlet_Establishment_Year']
data1['Outlet_Years'].describe()

count    14204.000000
mean        15.169319
std          8.371664
min          4.000000
25%          9.000000
50%         14.000000
75%         26.000000
max         28.000000
Name: Outlet_Years, dtype: float64

In [14]:
data1['Item_Fat_Content'] = data1['Item_Fat_Content'].replace({'LF':'Low Fat',
                                                             'reg':'Regular',
                                                             'low fat':'Low Fat'})
print(data1['Item_Fat_Content'].value_counts())

Low Fat    9185
Regular    5019
Name: Item_Fat_Content, dtype: int64

In [15]:
#Get the first two characters of ID:
data1['Item_Type_Combined'] = data1['Item_Identifier'].apply(lambda x: x[0:2])
#Rename them to more intuitive categories:
data1['Item_Type_Combined'] = data1['Item_Type_Combined'].map({'FD':'Food',
                                                             'NC':'Non-Consumable',
                                                             'DR':'Drinks'})
data1['Item_Type_Combined'].value_counts()

Food              10201
Non-Consumable     2686
Drinks             1317
Name: Item_Type_Combined, dtype: int64

In [16]:
data1.loc[data1['Item_Type_Combined']=="Non-Consumable",'Item_Fat_Content'] = "Non-Edible"
data1['Item_Fat_Content'].value_counts()

Low Fat       6499
Regular       5019
Non-Edible    2686
Name: Item_Fat_Content, dtype: int64

In [17]:
#Import library:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
#New variable for outlet
data1['Outlet'] = le.fit_transform(data1['Outlet_Identifier'])
var_mod = ['Item_Fat_Content','Outlet_Location_Type','Outlet_Size','Item_Type_Combined','Outlet_Type','Outlet']
le = LabelEncoder()
for i in var_mod:
    data1[i] = le.fit_transform(data1[i])
    
#One Hot Coding:
data1 = pd.get_dummies(data1, columns=['Item_Fat_Content','Outlet_Location_Type','Outlet_Size','Outlet_Type',
                              'Item_Type_Combined','Outlet'])

In [18]:
#Drop the columns which have been converted to different types:
data1.drop(['Outlet_Identifier','Known_Size','Item_Type','Outlet_Establishment_Year'],axis=1,inplace=True)

#Divide into test and train:
train1 = data1.loc[data1['source']=="train"]
test1 = data1.loc[data1['source']=="test"]

#Drop unnecessary columns:
train1.drop(['source'],axis=1,inplace=True)
test1.drop(['source'],axis=1,inplace=True)

# #Export files as modified versions:
# train1.to_csv("train_modified.csv",index=False)
# test1.to_csv("test_modified.csv",index=False)

f:\freycode\little-black-book\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [19]:
#Import models from scikit learn module:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold   #For K-fold cross validation
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn import metrics

#Generic function for making a classification model and accessing performance:
def classification_model(model, data, predictors, outcome):
    #Fit the model:
    model.fit(data[predictors],data[outcome])

    #Make predictions on training set:
    predictions = model.predict(data[predictors])

    #Print accuracy
    accuracy = metrics.accuracy_score(predictions,data[outcome])
    print ("Accuracy : %s" % "{0:.3%}".format(accuracy))

    #Perform k-fold cross-validation with 5 folds
    kf = KFold(n_splits=5, random_state=42)
    error = []
    for train, test in kf.split(data):
        # Filter training data
        train_predictors = (data[predictors].iloc[train,:])

        # The target we're using to train the algorithm.
        train_target = data[outcome].iloc[train]

        # Training the algorithm using the predictors and target.
        model.fit(train_predictors, train_target)

        #Record error from each cross-validation run
        error.append(model.score(data[predictors].iloc[test,:], data[outcome].iloc[test]))
 
    print ("Cross-Validation Score : %s" % "{0:.3%}".format(np.mean(error)))

    #Fit the model again so that it can be refered outside the function:
    model.fit(data[predictors],data[outcome])

In [28]:
outcome_var = 'Item_Outlet_Sales'
model = LogisticRegression(solver='lbfgs')
predictors = train1.columns
predictor_var = predictors.drop(outcome_var)
print(predictor_var)
print(train1.dtypes)
# classification_model(model, train1, predictor_var, outcome_var)

Index(['Item_Identifier', 'Item_Weight', 'Item_Visibility', 'Item_MRP',
       'Outlet_Identifier', 'Known_Size', 'Item_Visibility_MeanRatio',
       'Outlet_Years', 'Item_Fat_Content_0', 'Item_Fat_Content_1',
       'Item_Fat_Content_2', 'Outlet_Location_Type_0',
       'Outlet_Location_Type_1', 'Outlet_Location_Type_2', 'Outlet_Size_0',
       'Outlet_Size_1', 'Outlet_Size_2', 'Outlet_Size_3', 'Outlet_Type_0',
       'Outlet_Type_1', 'Outlet_Type_2', 'Outlet_Type_3',
       'Item_Type_Combined_0', 'Item_Type_Combined_1', 'Item_Type_Combined_2',
       'Outlet_0', 'Outlet_1', 'Outlet_2', 'Outlet_3', 'Outlet_4', 'Outlet_5',
       'Outlet_6', 'Outlet_7', 'Outlet_8', 'Outlet_9'],
      dtype='object')
Item_Identifier               object
Item_Weight                  float64
Item_Visibility              float64
Item_MRP                     float64
Outlet_Identifier             object
Item_Outlet_Sales            float64
Known_Size                      bool
Item_Visibility_MeanRatio    float64
Outlet_Years                   int64
Item_Fat_Content_0             uint8
Item_Fat_Content_1             uint8
Item_Fat_Content_2             uint8
Outlet_Location_Type_0         uint8
Outlet_Location_Type_1         uint8
Outlet_Location_Type_2         uint8
Outlet_Size_0                  uint8
Outlet_Size_1                  uint8
Outlet_Size_2                  uint8
Outlet_Size_3                  uint8
Outlet_Type_0                  uint8
Outlet_Type_1                  uint8
Outlet_Type_2                  uint8
Outlet_Type_3                  uint8
Item_Type_Combined_0           uint8
Item_Type_Combined_1           uint8
Item_Type_Combined_2           uint8
Outlet_0                       uint8
Outlet_1                       uint8
Outlet_2                       uint8
Outlet_3                       uint8
Outlet_4                       uint8
Outlet_5                       uint8
Outlet_6                       uint8
Outlet_7                       uint8
Outlet_8                       uint8
Outlet_9                       uint8
dtype: object